body{
     text-align: center;

}
/* Section title */
.navbar{
  padding: 0 0 3rem 0;
  top: 0px;
  background: transparent:important;
}
.navbar-brand{
  margin-left: 150px;
}
.navbar-nav{
margin-right: 30px;
}
li{
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 2px 2px 6px white;

}
.pic{
  width: 100%;
}
/* for navigation bar on scrolling */
.blurrycontent  {
  padding: 1rem ;
	top: 0; left: 0;
	width: 100%;
	height: 5rem;
	overflow: visible;
	position: fixed;
	/* filter: blur(1.5px); */
  background-color: rgba(13,7,25,0.9);
  z-index: 16;


}
.blurrycontent .navbar .nav-link{
  margin-bottom: 10px;


}
.blurrycontent .navbar{
  height: 9.8rem;
}
.blurrycontent .navbar .navbar-brand{
  margin-top: 15px;
}

/* for method section */

#methods{
  padding:5%;
  background-color: #ffa5a5;
}
.card{
    box-shadow: 0 0px 10px 0 #e8e8e8;
     background-color: #ffcbcb;
    transition: 0.3s;
 }

 /* for how it works section */
 #Works{
   background-color: #f5b461    ;
   padding: 5px;
   background-image: url("footer.jpg");}

 .working{
 width: 50%;
 margin: 100px auto 50px 200px;
 text-align: left;
 position: relative;


}
.working-gym{
width: 50%;
margin: 100px auto 100px 100px;
text-align: left;
position: relative;


}

.gyming{
  float:left;
  margin-right: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: white;
}
.yoga{
  float: left;
  margin-right: 50px;
  font-size: 3rem;
  color: white;
  font-family: 'Dancing Script', cursive;
}
.mad{
  font-family: 'Satisfy', cursive;
  font-weight: 200;
  font-size: 2rem;
  color: black;
}

/* footer Section */
footer{
  padding: 30px;
  background-color: rgba(13,7,25,0.9);
}
.row{
  margin-top: 40px;
}
h3{
  color: white;
}
.foot{
  color: white;
}
.footer-icons{
  margin-left: 20px;
  font-size: 30px;
  margin-top: 20px;
}
.Copyright{
  margin-bottom: 40px;
  margin-top:  50px;
  font-size: 1.2rem;
  font-family: cursive;
}
